@tailwind base;
@tailwind components;
@tailwind utilities;

.brand-link {
    text-align: center;
    font-weight: bold;
}
.content-wrapper {
    background-color: white;
}
/* ホバー時,削除ボタン表示 */
.relative:hover .delete-btn {
    opacity: 1;
}

.text-title{
    text-shadow: 1px 1px 4px rgba(193,228,233,3);
}

.add_shadow{
    text-shadow: 1px 1px 1px black;
}

.white_shadow{
    text-shadow: 2px 2px 4px rgb(255, 255, 255),-2px -2px 4px rgb(255, 255, 255);
}
.gray_shadow{
    text-shadow: 2px 2px 4px rgb(180, 179, 179);
}

.img_shadow{
    box-shadow: 5px 6px 40px rgb(180, 179, 179);
}

.gradient-underline {
    position: relative;
}

.gradient-underline::before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px; /* テキスト下にスペースを追加 */
    width: 100%;
    height: 2px; /* 線の太さ */
    background: linear-gradient(to right, #4fd1c5, #63b3ed); /* グラデーション */
}

.table-striped tbody tr:nth-child(odd) {
    @apply  bg-gray-50 !important; /* 奇数行 */
}

.table-striped tbody tr:nth-child(even) {
    @apply bg-white; /* 偶数行 */
}

.animation {
    transition: all;
    transition-duration: 300ms;
}

.quickAnimation {
    transition: all;
    transition-duration: 170ms;
}


.grid-custom {

    grid-template-columns: 3fr 1.8fr;
}
.child-grid-custom {

    grid-template-columns: 2fr 0.8fr;
}

.main-sidebar {
    position: fixed !important;
}